" -> https://github.com/JetBrains/ideavim/wiki

" Basic configurations.
source ~/dotfiles/ideavim/settings.vim

" Mappings.
source ~/dotfiles/ideavim/mappings.vim

" +buffers
" "
" let g:WhichKeyDesc_BuffersLeader = '<leader>b +buffers'
" "
" map <Leader>bf <Action>(NewScratchFile)
" let g:WhichKeyDesc_BuffersScratchLeader_NewScratchFile = '<leader>bf Scratch file'
" "
" map <Leader>bb <Action>(NewScratchBuffer)
" let g:WhichKeyDesc_BuffersScratchLeader_NewScratchBuffer = '<leader>bb Scratch buffer'
" "
" "
" 
"  +code
" "
" let g:WhichKeyDesc_CodeLeader = '<leader>c +code'
" "
" map <Leader>cc <Action>(CompileDirty)
" let g:WhichKeyDesc_CodeLeader_CompileDirty = '<leader>cc Compile dirty'
" "
" map <Leader>cC <Action>(Compile)
" let g:WhichKeyDesc_CodeLeader_Compile = '<leader>cC Recompile'
" "
" map <Leader>cb <Action>(ActivateBuildToolWindow)
" let g:WhichKeyDesc_CodeLeader_ActivateBuildToolWindow = '<leader>cb Build'
" "
" map <Leader>cM <Action>(MakeModule)
" let g:WhichKeyDesc_CodeLeader_MakeModule = '<leader>cM Compile current module'
" "
" map <Leader>cp <Action>(ActivatePackageSearchToolWindow)
" let g:WhichKeyDesc_CodeLeader_ActivatePackageSearchToolWindow = '<leader>cp Packages'
" "
" map <Leader>cr <Action>(CompileProject)
" let g:WhichKeyDesc_CodeLeader_CompileProject = '<leader>cr Rebuild project'
" "
" map <Leader>cg <Action>(Gradle.ExecuteTask)
" let g:WhichKeyDesc_CodeGradleLeader_Gradle_ExecuteTask = '<leader>cg Execute gradle task'
" "
" map <Leader>cm <Action>(Maven.ExecuteGoal)
" let g:WhichKeyDesc_CodeMavenLeader_Maven_ExecuteGoal = '<leader>cm Execute maven goal'
" "
" "
" 
"  +debug
" "
" let g:WhichKeyDesc_DebugLeader = '<leader>d +debug'
" "
" map <Leader>db <Action>(ToggleLineBreakpoint)
" let g:WhichKeyDesc_DebugBreakpointToggleLeader_ToggleLineBreakpoint = '<leader>db Toggle breakpoint'
" "
" map <Leader>df <Action>(ViewBreakpoints)
" let g:WhichKeyDesc_DebugBreakpointToggleLeader_ViewBreakpoints = '<leader>df View all'
" "
" map <leader>dc <Action>(RunToCursor)
" let g:WhichKeyDesc_DebugStepLeader_RunToCursor = '<leader>dc Run to cursor'
" "
" map <Leader>dR <Action>(Debug)
" let g:WhichKeyDesc_DebugRunLeader_Debug = '<leader>dR Run debug'
" "
" map <Leader>dF <Action>(ChooseDebugConfiguration)
" let g:WhichKeyDesc_DebugRunLeader_ChooseDebugConfiguration = '<leader>dF Find debug config'
" "
" map <Leader>dr <Action>(KotlinConsoleREPL)
" let g:WhichKeyDesc_DebugLeader_KotlinConsoleREPL = '<leader>dr Open Kotlin REPL'
" "
" map <Leader>dt <Action>(ActivateDebugToolWindow)
" let g:WhichKeyDesc_DebugLeader_ActivateDebugToolWindow = '<leader>dt Toggle debug tool window'
" "
" 
"  +files
" "
" let g:WhichKeyDesc_FilesLeader = '<leader>f +files'
" "
" map <Leader>fr <Action>(RecentFiles)
" let g:WhichKeyDesc_FilesLeader_RecentFiles = '<leader>fr Recent files'
" "
" map <Leader>fa <Action>(RefactoringMenu)
" let g:WhichKeyDesc_FilesLeader_RefactoringMenu = '<leader>fa File actions'
" "
" map <Leader>fy <Action>(CopyAbsolutePath)
" let g:WhichKeyDesc_FilesLeader_CopyAbsolutePath = '<leader>fy Copy filename'
" "
" "
" 
"  +git
" "
" let g:WhichKeyDesc_GitLeader = '<leader>g +git'
" "
" map <Leader>gg <Action>(Git.Commit.Stage)
" let g:WhichKeyDesc_GitLeader_Git_Commit_Stage = '<leader>gg Git ui'
" "
" map <Leader>gl <Action>(Vcs.Show.Log)
" let g:WhichKeyDesc_GitShowLeader_Vcs_Show_Log = '<leader>gl Log'
" "
" map <Leader>gB <Action>(Annotate)
" let g:WhichKeyDesc_GitLeader_Annotate = '<leader>gB Blame'
" "
" map <Leader>gf <Action>(Git.Fetch)
" let g:WhichKeyDesc_GitRemoteLeader_Git_Fetch = '<leader>gf Fetch'
" "
" map <Leader>gp <Action>(Vcs.UpdateProject)
" let g:WhichKeyDesc_GitRemoteLeader_Vcs_UpdateProject = '<leader>gp Pull'
" "
" map <Leader>gP <Action>(Vcs.Push)
" let g:WhichKeyDesc_GitRemoteLeader_Vcs_Push = '<leader>gP Push'
" "
" map <Leader>gh <Action>(Vcs.ShowTabbedFileHistory)
" let g:WhichKeyDesc_GitLeader_Vcs_ShowTabbedFileHistory = '<leader>gh File commit history'
" "
" map <Leader>gb <Action>(Git.Branches)
" let g:WhichKeyDesc_GitListLeader_Git_Branches = '<leader>gb Branches'
" "
" map <Leader>gs <Action>(Vcs.Show.Shelf)
" let g:WhichKeyDesc_GitShowLeader_Vcs_Show_Shelf = '<leader>gs Show shelf'
" "
" map <Leader>ga <Action>(Git.FileActions)
" let g:WhichKeyDesc_GitLeader_Git_FileActions = '<leader>ga Git file actions'
" "
" map <Leader>gG  <Action>(GitHub.MainMenu)
" let g:WhichKeyDesc_GitLeader_GitHub_MainMenu = "<leader>gG Github menu"
" "
" map <Leader>gm <Action>(Git.Menu)
" let g:WhichKeyDesc_GitLeader_Git_Menu = '<leader>gm Git menu'
" "
" map <Leader>go <Action>(Github.Open.In.Browser)
" let g:WhichKeyDesc_GitOpenLeader_Github_Open_In_Browser = '<leader>go Open region in browser'
" "
" "
" 
"  +hunks
" "
" let g:WhichKeyDesc_HunksLeader = '<leader>h +hunks'
" "
" map <Leader>hS <Action>(Git.Add)
" let g:WhichKeyDesc_HunksStageLeader_Git_Add = '<leader>hS Stage buffer'
" "
" map <Leader>hrr <Action>(Vcs.RollbackChangedLines)
" let g:WhichKeyDesc_HunksResetLeader_Vcs_RollbackChangedLines = '<leader>hrr Stage hunk'
" "
" "
" 
"  +bookmarks
" "
" let g:WhichKeyDesc_BookmarksLeader = '<leader>m +bookmarks'
" "
" map <Leader>mm <Action>(Bookmarks)
" let g:WhichKeyDesc_BookmarksLeader_Bookmarks = '<leader>mm Bookmark menu'
" "
" map <Leader>mf <Action>(ShowBookmarks)
" let g:WhichKeyDesc_BookmarksLeader_ShowBookmarks = '<leader>mf Find bookmark'
" "
" "
" 
"  +open
" "
" let g:WhichKeyDesc_OpenLeader = '<leader>o +open'
" "
" nmap <Leader>ow <Action>(EditSourceInNewWindow)
" let g:WhichKeyDesc_OpenLeader_EditSourceInNewWindow = '<leader>ow New buffer window'
" "
" nmap <Leader>of <Action>(OpenProjectWindows)
" let g:WhichKeyDesc_OpenLeader_OpenProjectWindows = '<leader>of Find window'
" "
" noremap <Leader>op <Action>(ActivateProjectToolWindow)
" let g:WhichKeyDesc_OpenLeader_ActivateProjectToolWindow = '<leader>op Toggle project view'
" "
" nmap <Leader>oo <Action>(RevealIn)
" let g:WhichKeyDesc_OpenLeader_RevealIn = '<leader>oo Reveal in finder'
" "
" nmap <Leader>ot <Action>(ActivateTerminalToolWindow)
" let g:WhichKeyDesc_OpenLeader_ActivateTerminalToolWindow = '<leader>ot Open term'
" "
" nmap <Leader>o! <Action>(Terminal.OpenInTerminal)
" let g:WhichKeyDesc_OpenLeader_Terminal_OpenInTerminal = '<leader>o! Open term at file dir'
" "
" "
" 
"  +project
" "
" let g:WhichKeyDesc_ProjectLeader = '<leader>p +project'
" "
" map <Leader>pi <Action>(InvalidateCaches)
" let g:WhichKeyDesc_ProjectLeader_InvalidateCaches = '<leader>pi Invalidate project cache'
" "
" map <Leader>pp <Action>(ManageRecentProjects)
" let g:WhichKeyDesc_ProjectLeader_ManageRecentProjects = '<leader>pp Switch projects'
" "
" map <Leader>pt <Action>(ActivateTODOToolWindow)
" let g:WhichKeyDesc_ProjectLeader_ActivateTODOToolWindow = '<leader>pt Show TODOs'
" "
"  +run
" let g:WhichKeyDesc_ProjectRunLeader = '<leader>pr +run'
" "
" map <Leader>prw <Action>(ActivateRunToolWindow)
" let g:WhichKeyDesc_ProjectRunLeader_ActivateRunToolWindow = '<leader>prw Run tool window'
" "
" map <Leader>pra <Action>(RunAnything)
" let g:WhichKeyDesc_ProjectRunLeader_RunAnything = '<leader>pra Run anything'
" "
" map <Leader>prr <Action>(Run)
" let g:WhichKeyDesc_ProjectRunLeader_Run = '<leader>prr Run project'
" "
" map <Leader>prl <Action>(Rerun)
" let g:WhichKeyDesc_ProjectRunLeader_Rerun = '<leader>prl Rerun latest config'
" "
" map <Leader>prt <Action>(RerunTests)
" let g:WhichKeyDesc_ProjectRunLeader_RerunTests = '<leader>prt Rerun tests'
" "
" map <Leader>prh <Action>(ChooseRunConfiguration)
" let g:WhichKeyDesc_ProjectRunLeader_ChooseRunConfiguration = '<leader>prh Recent run configs'
" "
" 
"  +toggle
" "
" let g:WhichKeyDesc_ToggleLeader = '<leader>t +toggle'
" "
" map <Leader>tb <Action>(TogglePresentationMode)
" let g:WhichKeyDesc_ToggleLeader_TogglePresentationMode = '<leader>tb Presentation mode'
" "
" map <Leader>tl <Action>(EditorToggleShowLineNumbers)
" let g:WhichKeyDesc_ToggleLeader_EditorToggleShowLineNumbers = '<leader>tl Line numbers'
" "
" map <Leader>tr <Action>(ToggleReadOnlyAttribute)
" let g:WhichKeyDesc_ToggleLeader_ToggleReadOnlyAttribute = '<leader>tr Read only mode'
" "
" map <Leader>tw <Action>(EditorToggleUseSoftWraps)
" let g:WhichKeyDesc_ToggleLeader_EditorToggleUseSoftWraps = '<leader>tw Soft wrapping'
" "
" map <Leader>tz <Action>(ToggleDistractionFreeMode)
" let g:WhichKeyDesc_ToggleLeader_ToggleDistractionFreeMode = '<leader>tz Distraction free mode'
" "
" map <Leader>tZ <Action>(ToggleZenMode)
" let g:WhichKeyDesc_ToggleLeader_ToggleZenMode = '<leader>tZ Zen mode'
" "
" map <Leader>tF <Action>(ToggleFullScreen)
" let g:WhichKeyDesc_ToggleLeader_ToggleFullScreen = '<leader>tF Fullscreen mode'
